main {
  background-color: #2b2b30;
}

.product {
  margin: 10px 10px;
}

.cart-menu {
  color: white;
}

.cart {
  z-index: 1;
  height: 100%;
}

.card-header h5{
  float: left;
}

.card-header a{
  float: right;
}
