body {
  background-color: rgb(58, 41, 39);
}

.header-nav {
  background-color: #f8ff9a !important;
}

.choices {
  padding-left: 0;
  padding-right: 0;
  background-color: #f8f9fa;
}

.choice {
  margin-top: 20px;
  margin-left: 0;
}

.title-button {
  background-color: #f8ff9a !important;
  border-color: #f8ff9a !important;
  color: #222222 !important;
}