main {
  background-color: #2b2b30;
}

.products {
  margin-right: 0;
}

.product-item {
  margin: 10px 10px;
}

.cart-menu {
  color: white;
}

.cart {
  position: relative;
  z-index: 100;
  right: 0;
  overflow: auto;
  float: right;
  width: 500px;
  margin-left: 0;
}

.card-header h5{
  float: left;
}

.card-header a{
  float: right;
}

.cartBtn {
  float: right;
}
