main {
  background-color: #2b2b30;
}

.product {
  margin-top: 30px;
  height: 300px;
  width: 230px;
  text-align: center;
  background-color: #f8f9fa;
}

.product h3 {
  font-size: 20px;
}

.product p {
  font-size: 20px;
}

.product img {
  margin-top: 25px;
  height: 150px;
  width: 150px;
}